@import url(https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner&family=Whisper&display=swap);
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
h2{
    color: red;
    font-weight: bold; 
    font-family: 'Satisfy';
    text-shadow: -1px 2px 14px rgb(255, 255, 255);
}
h1{
    font-family: 'Cinzel';
}
h3{
    color: #ffffff;
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -6.1em;
        -webkit-filter: blur(82px);
        filter: blur(82px);
        opacity: 0
    }

    25% {
        -webkit-filter: blur(62px);
        filter: blur(62px);
        opacity: .2
    }

    50% {
        -webkit-filter: blur(32px);
        filter: blur(32px);
        opacity: .5;
        -webkit-filter: blur(10px);
        filter: blur(10px);
        opacity: .8
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1
    }
}

h5 {
 
    animation: focus-in-expand 7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    color: #68e600;
    font-family: 'Edu QLD Beginner';
    margin-top: 20px;
  }

  .colore{
    margin: 0 auto;
    width: 75%;
 
    padding: 5%;
  }
  .display-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .result2{
    color:#68e600;
  }