<div class="content">
    <h1>Simulatore di Alimentazione Nutrizionale</h1>
    <p>Progettazione & Sviluppo Web di Vetrina Informatica.it</p>
    <!-- <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>

    <div class="form-group">
        <label for="name">Nome:</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div> -->

    <div class="form-group">
        <label for="age">Età:</label>
        <input type="number" class="form-control" id="age" name="age" [(ngModel)]="age" required>
    </div>
    <div class="form-group">
        <label for="age">Peso</label>
        <input type="number" class="form-control" id="peso" name="peso" [(ngModel)]="peso" required>
    </div>
    <div class="form-group">
        <label for="age">altezza in cm Es 180</label>
        <input type="number" class="form-control" id="altezza" name="altezza" [(ngModel)]="altezza" required>
    </div>
    <div class="form-group">
        <label for="gender">Sesso:</label>
        <select class="form-control" id="gender" name="gender" [(ngModel)]="gender" required>
            <option value="">Seleziona</option>
            <option value="male">Maschio</option>
            <option value="female">Femmina</option>
       
        </select>
    </div>
    <div class="form-group">
        <label for="gender">obiettivo</label>
        <select class="form-control" id="gender" name="gender" [(ngModel)]="obiettivo" required>
            <option value="">Seleziona</option>
            <option value="perdere">Perdere Peso</option>
            <option value="nulla">Mantenere Peso</option>
            <option value="aumentare">Aumentare il Peso</option>
        </select>
    </div>

    <div class="form-group">
        <label for="gender">Giorni di allenamento</label>
        <select class="form-control" id="gender" name="gender" [(ngModel)]="giorni" required>
            <option value="">Seleziona</option>
            <option value="1.375">3</option>
            <option value="1.55">4</option>
            <option value="1.725">5</option>
            <option value="1.9">6</option>
            <option value="2">7</option>
        </select>
    </div>
    <button class="btn btn-primary" (click)="calculateBMI()">Calcola BMI</button>

    <div *ngIf="resultMessage || resultMessage1 || resultMessage2 || resultMessage3 || resultMessage4 || resultMessage5 || resultMessage6" style="margin-top: 20px;">
        <p *ngIf="resultMessage" class="result">{{ resultMessage }}</p>
        <p *ngIf="resultMessage1" class="result">{{ resultMessage1 }}</p>
        <p *ngIf="resultMessage2" class="result">{{ resultMessage2 }}</p>
        <p *ngIf="resultMessage3" class="result">{{ resultMessage3 }}</p>
        <p *ngIf="resultMessage4" class="result">{{ resultMessage4 }}</p>
        <p *ngIf="resultMessage5" class="result">{{ resultMessage5 }}</p>
        <p *ngIf="resultMessage6" class="result">{{ resultMessage6 }}</p>
        <h5>SUCA PIZZARRONE</h5>
      </div>
      
</div>
<footer class="footer bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="footer-section">
            <h4>Contatti</h4>
            <p><i class="fas fa-map-marker-alt"></i> Via Esempio, 12345 Città, Italia</p>
            <p><i class="fas fa-envelope"></i> infoexample.com</p>
            <p><i class="fas fa-phone"></i> +39 0123456789</p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center py-3">
        <p> <img class="immagine" src="assets/Senzanome2.webp"
            alt="LOGO UFFICIALE DI VETRINA INFORMATICA"> <a href="https://www.vetrinainformatica.it" target="_blank" class="text-white">&copy; Vetrina Informatica.Tutti i diritti riservati 2023/2024</a>.
     </p>
    </div>
  </footer>